#workskin div.notes {
  border: 1px solid #c1cdcd;
  border-left: 8px solid #c1cdcd;
  padding: 25px;
}

#workskin table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#workskin table.stream {
  width: 100%;
  max-width: 600px;
}

#workskin td,
#workskin th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#workskin tr:nth-child(even) {
  background-color: #dddddd;
  color: black;
}

#workskin h2:not(.title) {
  border-bottom: 5px solid #7a0000;
}

#workskin .chapter.preface h3.title {
  display: none;
}

#workskin th {
  background-color: #474747;
  font-weight: bold;
  color: white;
}

#workskin audio {
  width: 100%;
  max-width: 500px;
}

#workskin .coverFloat {
  display: inline-block;
  float: left;
  margin-right: 30px;
  width: 100%;
  max-width: 450px;
}

#workskin .cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 450px;
}

#workskin .fic {
  float: none;
  display: block;
  clear: both;
  padding-top: 25px;
}
